node_modules
.env

# Hardhat files
Web3/cache
Web3/artifacts

# TypeChain files
Web3/typechain
Web3/typechain-types

# solidity-coverage files
Web3/coverage
Web3/coverage.json

# Hardhat Ignition default folder for deployments against a local node
Web3/ignition/deployments/chain-31337

Web3/gas-report.txt
